In [1]:
import numpy as np
from numpy import nan, random
import pandas as pd

In [2]:
data = pd.read_csv('air_pollution.csv').iloc[:, 1:]
display(data.head())
columns = data.columns
data = data.values
N, n = data.shape
n -= 1
total_num = N * n

,pollution_today,dew,temp,press,wnd_spd,snow,rain,pollution_yesterday
0,145.958333,-8.500000,-5.125000,1024.750000,24.860000,0.708333,0.0,10.041667
1,78.833333,-10.125000,-8.541667,1022.791667,70.937917,14.166667,0.0,145.958333
2,31.333333,-20.875000,-11.500000,1029.291667,111.160833,0.000000,0.0,78.833333
3,42.458333,-24.583333,-14.458333,1033.625000,56.920000,0.000000,0.0,31.333333
4,56.416667,-23.708333,-12.541667,1033.750000,18.511667,0.000000,0.0,42.458333

In [3]:
indices = random.choice(range(total_num), size=int(total_num*0.1), replace=False)
indices = np.array([(i//n, i%n+1) for i in indices])
indices.shape

(1277, 2)

In [4]:
for index in indices:
    data[index] = nan

In [5]:
data = pd.DataFrame(data, columns=columns)
data.to_parquet('air_pollution_nan.parquet', compression='gzip')

data = data.fillna(0)
data.to_parquet('air_pollution_zero.parquet', compression='gzip')